# Quartus build files
*.qws
*_dump.txt

**/incremental_db/
**.qsys_edit
db/

# Simulation files
fpga/simulation
**/*_sim/
**/libraries/
transcript

# Quartus build folder
build/*

# Log files
*.html
*.rpt
*.qmsg

# Working files
*.swp
*.a
*.o
*.d
software/**/.settings
software/**/.force_*
software/**/Debug/
software/**/Release/
**/*.config
*.bak
*.BAK.*
*.*~

# Compiled files
**/obj/
*.elf
*.objdump
*.map
*.dat
*.hex
*.ver
*.bin

GPATH
GTAGS
GRTAGS

#VS code
.vscode/*

