# Quartus build files
*.qws
*_dump.txt

**/incremental_db/
**.qsys_edit
db/

# Simulation files
**/simulation/
**/*_sim/
**/libraries/
transcript

# Quartus build folder
build/*
!build/build_chain.cdf

# Log files
*.html
*.rpt
*.qmsg

# Working files
*.swp
*.a
software/**/.cproject
software/**/.project
software/**/.settings
software/**/.force_*
*.bak
*.BAK.*
*.*~

# Compiled files
**/obj/
*.elf
*.objdump
*.map
*.dat
*.hex
*.ver

GPATH
GTAGS
GRTAGS

#VS code
.vscode/*

