# Quartus build files
*.qws
*_dump.txt

**/incremental_db/
**.qsys_edit
db/

# Simulation files
**/simulation/
**/*_sim/

# Quartus build folder
build/*
!build/build_chain.cdf

# Log files
*.html
*.rpt
*.qmsg

# Working files
*.swp
*.a

# Compiled files
**/obj/
*.elf
*.objdump
*.map

GPATH
GTAGS
GRTAGS